<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDFEsig</title>
    <style>
        nav {
            display: flex;
            align-items: center;
        }
        nav * {
            margin: 4px;
        }
        nav a {
            margin-left: auto;
        }
        main {
            padding-top: 80px;
        }

        main ul li {
            padding: 12px 2px
        }
        main ul li span {
            padding: 8px;
        }
    </style>
</head>
<body>
<header>
    <h1></h1>
</header>
<nav>
    {#insert nav /}
</nav>
<main>
    {#insert content}<h1>No body:/</h1>{/}
</main>
<footer>

</footer>
</body>
</html>